[submodule "Crypto++"]
	path = thirdparty/Crypto++/cryptopp-cmake
	url = https://github.com/abdes/cryptopp-cmake.git
[submodule "Bzip2"]
	path = thirdparty/Bzip2/src
	url = https://github.com/libarchive/bzip2.git
[submodule "StormByte Suite - Buffer"]
	path = thirdparty/StormByte/buffer/src
	url = https://github.com/StormBytePP/StormByte-Buffer.git
[submodule "StormByte - Build Master"]
	path = thirdparty/buildmaster
	url = https://github.com/StormBytePP/StormByte-BuildMaster.git
